@charset "utf-8";
/* CSS Document */

/* Hero Section */
#hero {
	height: auto;
	min-height: 65vh;
	background-image: radial-gradient(circle at left bottom, rgba(0, 0, 0, 0), var(--gun-blue) 70%), url("img/hero-image.jpg");
	background-size: cover;
	background-position: top;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	padding: 2rem 2rem;
	border-radius: 1rem;
	box-shadow: 0 0.2rem 1rem 0.3rem var(--shadows-mode);
	color: var(--powder-white-const);
	text-align: center;
}

.hero-content {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.hero-text {
	display: flex;
	flex-direction: column;
	padding: 40px 10px;
	max-width: 400px;
	text-align: end;
	border-radius: 5px;
	gap: 20px 0px;
}

#go-home {
	background-color: var(--contrast);
	color: var(--midnight-blue-const);
	padding: 15px;
}
