@charset "utf-8";
/* CSS Document */

/* Hero Section */
#hero {
	height: auto;
	min-height: 65vh;
	background-image: radial-gradient(circle at left bottom, rgba(0, 0, 0, 0), var(--gun-blue) 70%), url("img/hero-image.jpg");
	background-size: cover;
	background-position: top;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	padding: 2rem 2rem;
	border-radius: 2vw;
	box-shadow: 6px 6px 4px black;
	color: var(--powder-white-const);
	text-align: center;
}
#hero-content {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
#hero-text {
	display: flex;
	flex-direction: column;
	padding: 2rem 1rem;
	width: 40vw;
	max-width: 60vw;
	text-align: end;
	border-radius: 0.3rem;
	gap: 1rem 0;
}
#hero-cta {
	background-color: var(--contrast);
	color: var(--powder-white);
	padding: 15px;
	margin-top: 2rem;
}


/* Content Section */

#content-section {
	display: flex;
	height: auto;
	outline: 0.2rem solid var(--powder-white-const);
	outline-offset: -2vw; 
	background-image: linear-gradient(var(--sky-blue), var(--midnight-blue-const));
	border-radius: 1rem;
	box-shadow: 6px 6px 4px black;}
.split-left, .split-right {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items:flex-end;
	justify-content: flex-start;
	color: var(--powder-white-const);}
#content-section h3 {
	color: var(--midnight-blue-const);}

.tools, .participants {
	display: grid;
	grid-template-columns: 5rem 1fr;
	align-items: center;
	margin: 0.5rem;}
.icon {
	width: 2.3rem;}

.factbox {
	display: flex;
	flex-direction: column;
	background-color: var(--contrast);
	background-image: linear-gradient(rgba(245, 158, 11, 0.5), rgba(245, 158, 11, 0.5)), url("img/Logo_NoLine_White.svg");
	background-repeat: no-repeat;
	background-size: 15vw;
	background-position: bottom right;
	color: var(--midnight-blue-const);
	gap: 0.5rem;
	height: auto;
	border-radius: 1rem;
	align-items: center;
	justify-content: center;
	width: 33vw;
	padding: 3rem;
	outline: 0.2rem solid var(--powder-white-const);
	outline-offset: -2vw;}
.fact-item {
	display: grid;
	grid-template-columns: 6rem 1fr;
	margin: 0.5rem 0;
	align-items: start;}
#fact-button {
	background-color: var(--midnight-blue-const);
	color: var(--powder-white-const);
	width: auto;
	padding: 0.5rem 3rem 0.5rem 3rem;
	margin-top: 1rem;
}

/* Partners Section*/

#partners-section {
	margin-top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: var(--midnight-blue-mode);}
#partner-button {
	background-color: var(--midnight-blue-mode);
	color: var(--powder-white-mode);
	width: auto;
	padding: 0.5rem 3rem 0.5rem 3rem;
	margin-top: 1rem;}
.partners {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center; 
	margin: 2rem;}
.logo-partner {
	height: auto;
	min-height: 5vw;
	max-height: 8vw;
	width: auto;
	min-width: 8vw;
	max-width: 13vw;
	margin: 0 2vw;
}

/*Quote Section */

#quote-section {
	position: relative;
	display: block;
	overflow:visible;
	margin-top: 0; 
	padding: 0;
	height: auto;
	background-color: var(--sky-blue);
	align-items: center;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	justify-content: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
	border-radius: 2vw;
	box-shadow: 6px 6px 4px black;}
.card-item {
	list-style: none;}
.card {
	display:grid;
	grid-template-columns: 20vw 1fr;
	user-select: none;
	background: transparent;
	text-decoration: none;
	justify-content: center;
	align-items: center;
	padding: 0.5rem 10vw 4rem 10vw;}
.card-image {
	width:95%;
	aspect-ratio: 1/1;
	object-fit: cover;
	border-radius: 50%;
	border:0.5rem solid white;
	box-shadow: 0 0.3rem 0.5rem 0.1rem var(--shadows-mode);}
.card-text {
	text-align: center;
	color: var(--midnight-blue-const);}

.swiper {
	position:relative;
	width:100%;
  	height: auto;
	overflow:visible;
	margin-top: 2rem;
}
.swiper-button-prev,
.swiper-button-next {
	position:absolute !important;
  	color: var(--powder-white-const) !important;
	background-color: var(--midnight-blue-const);
	padding: 2rem;
	border-radius: 50%;
  	top: 50% !important;
  	transform: translateY(-50%);
  	z-index: 10;}
.swiper-button-prev {
  left: 1rem!important;}
.swiper-button-next {
  right: 1rem!important;}


/*faculty section*/

#faculty-section{
	padding-top: 3rem;
	align-items: center;
	text-align: center;
	padding: 3rem;
	position: relative;}
#faculty-section h4{
	font-size: 1rem;
	text-align: center;}
#faculty-section a {
	cursor: pointer;}

.faculty-members{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 2rem;
	margin-top: 3rem;}
.faculty-link {
	display: block;
	text-decoration: none;}
.faculty-item {
	list-style: none;}
.faculty-image {
	width:95%;
	aspect-ratio: 1/1;
	object-fit: cover;
	border-radius: 50%;
	border:0.5rem solid white;
	box-shadow: 0 0.3rem 0.5rem 0.1rem var(--shadows-mode);}
.faculty-badge {
	display: inline-block;
	margin:1rem 0 0.5rem;
	padding: 0.7rem 1.2rem;
	background: transparent;
	color: var(--powder-white-mode);
	background-color: var(--midnight-blue-mode);
	border-radius: 0.5rem;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
	width: 100%;}
.faculty-title {
	text-align: center;
	color: var(--midnight-blue-mode);
}

/*media Quaries for responsivitet*/

@media (max-width: 800px) {
	#hero-text {
		width: 50vw;}
  	#content-section {
    	flex-direction: column;
		align-items: center;  }
  	.factbox {
	 	width: 80vw;
	  	background-size: 20vw;
	 	margin-top: 3rem; 
		padding-left: 5rem;
		gap: 2rem;}
	.fact-item {
		display: grid;
		grid-template-columns: 9rem 1fr;
		margin: 0.5rem 0;
		align-items: start;}
	.card-link {
		display:grid;
		grid-template-columns: 30vw 1fr;}
}
@media (max-width: 700px) {
  	.split-left {
   	 	width: 100%;
    	padding: 5vw 5vw 1vw 5vw;
    	margin: 0;}
	.split-right {
    	padding-bottom: 3rem;}
  	#content-section {
    	padding: 0 0;}
	.faculty-members{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 1rem;}
	.card-link {
    	display: flex;
    	flex-direction: column;
    	padding: 0 1rem 3rem 1rem;  }
  	.card-image {
    	width: 30vw;
    	margin-bottom: 2rem;}
	.swiper-button-prev,
	.swiper-button-next {
		top: 40% !important;}
}