@charset "utf-8";
/* CSS Document */
/* styles.css */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*FARVER */
:root {
	--midnight-blue: #08223B;
	--sky-blue: #7599BA;
	--gun-blue: #2D4C60;
	--steel-blue: #2F567A;
	--powder-white: #F1F5F9;
	--contrast: #F59E0B;}
	
/*TYPOGRAFI */
/*html størrelser for lettere at kunne lave media quaries*/

html {font-size: 16px;}

@media (max-width:800px){
	html {font-size: 14px;}}
@media (max-width:600px){
	html {font-size: 12px;}}

h1 {
	font-family: 'Audiowide', sans-serif;
	font-weight: normal;
	font-size: 3rem;
	line-height: 1.2;
	text-align: center;
}
h2 {
	font-family: 'Space Grotesk', sans-serif;
	font-size: 2rem;
	font-weight: 700;
	line-height: 1.3;
}
h3 {
	font-family: 'Audiowide', sans-serif;
	font-weight: normal;
	font-size: 1.5rem;
	line-height: 1.4;}
h4 {
	font-family: 'Space Grotesk', sans-serif;
	font-size: 1.3rem;
	font-weight: 700;
	line-height: 1.4;}
h5 {
	font-family: 'Space Grotesk', sans-serif;
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 1.4;}
h6 {
	font-family: 'Inter', sans-serif;
	font-size: 1rem;
	font-weight: bold;
	line-height: 1.6;}
p {
	font-family: 'Inter', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.6;}
.quote p {
	font-family: 'Inter', sans-serif;
	font-size: 1.3rem;
	font-weight: 400;
	line-height: 1.6;
	font-style: italic;}

/*Knapper*/
.menu-knap {
	background-color: var(--midnight-blue);
	border-radius: 10px;
	cursor: pointer;
	display: inline-block;
	font-weight: 600;
	font-size: 18px;
	padding: 10px 18px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	user-select: none;
	touch-action: manipulation;
	transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.menu-knap:hover {
	box-shadow: black -6px 6px 0 0;
	transform: translate(6px, -6px)
}

.menu-knap:active {
	box-shadow: black -2px 2px 0 0;
	transform: translate(2px, -2px);
}

/*Generel styling*/
body {
 	display: grid;
 	grid-template-rows: auto 1fr auto;
 	height: 100vh;
	width: 100vw;
}

section {
	margin: 80px 10vw;
}

/*Scroll*/
.scroll-area {
 	overflow-y: auto;
 	scrollbar-color: var(--sky-blue) var(--midnight-blue);
 	scrollbar-width: auto;}

/*skjul scroll på touch enheder*/
@media (pointer: coarse) {
.scroll-area {
    scrollbar-width: none;}
}

/* Header */
.site-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10vw;
	background-color: var(--gun-blue);
	color: var(--contrast);
	border-radius: 0 0 20px 20px;
	box-shadow: 0 5px 5px 5px var(--midnight-blue);
	z-index: 1;
	
}

.logo-tag {
	display: flex;
	align-items: center;
	transition: transform 0.1s ease, box-shadow 0.1s ease;
	padding: 5px;
	border-radius: 10px;
}

.logo-tag:hover {
	box-shadow: black 6px 6px 0 0;
	transform: translate(-6px, -6px);
	cursor: pointer;
}

.logo-tag:active {
	box-shadow: black 2px 2px 0 0;
	transform: translate(-2px, -2px);
}

.logo-tag h2 {
	font-family: audiowide;
	font-size: 5vw;
	line-height: 5vw;
	color: var(--contrast);
}

.logo-tag img {
	width: 10vw;
	margin-right: -4vw;
}

.nav-links a {
	display: inline-block;
	margin: 10px 0px 10px 20px;
	text-decoration: none;
	color: var(--powder-white);
}

#active {
	background-color: var(--sky-blue);
}

/* Hero Section */
.hero {
	height: 500px;
	background-image: radial-gradient(circle at left bottom, rgba(0, 0, 0, 0), var(--gun-blue) 70%), url("img/hero-image.jpg");
	background-size: cover;
	background-position: top;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	padding: 40px 5vw;
	border-radius: 50px;
	box-shadow: 0 5px 5px 5px var(--midnight-blue);
	color: var(--powder-white);
}

.hero-content {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.hero-text {
	display: flex;
	flex-direction: column;
	padding: 40px 10px;
	max-width: 400px;
	text-align: end;
	border-radius: 5px;
	gap: 20px 0px;
}

#hero-cta {
	background-color: var(--contrast);
	color: var(--powder-white);
	padding: 15px;
}

/* Content Section */
.content-section {
	display: flex;
	height: auto;
	padding: 100px;
	outline: 4px solid var(--powder-white);
	outline-offset: -50px; 
	background-image: linear-gradient(var(--sky-blue), var(--midnight-blue));
	border-radius: 20px;
}

.split-left, .split-right {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.split-left {
	color: var(--powder-white);
}
.participants {
	display: grid;
	grid-template-columns: 5vw 1fr;
	align-items: center;
	margin: 20px;
}

.icon {
	width: 40px;
}

.split-right {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}

.factbox {
	display: flex;
	flex-direction: column;
	background-color: var(--contrast);
	background-image: linear-gradient(rgba(245, 158, 11, 0.5), rgba(245, 158, 11, 0.5)), url("img/Logo_NoLine_White.svg");
	background-repeat: no-repeat;
	background-size: 15vw;
	background-position: bottom right;
	color: var(--midnight-blue);
	gap: 10px;
	height: auto;
	border-radius: 20px;
	align-items: center;
	justify-content: center;
	width: 30vw;
	padding: 50px;
	outline: 4px solid var(--powder-white);
	outline-offset: -25px;

}

.fact-item {
	display: grid;
	grid-template-columns: 7vw 1fr;
	margin: 20px 0;
	align-items: start;
}

#fact-button {
	color: var(--powder-white);
	width: 70%;
	margin-top: 40px;
}



/* Partners Section*/
.partners-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--midnight-blue);
}

#partner-button {
	color: var(--powder-white);
}

.partners {
	display: flex;
	justify-content: center;
	align-items: center; 
	margin-top: 40px;
}

.logo-partner {
	width: 10vw;
	height: auto;
	margin: 0 2vw;
}

/* Quote Section */
.quote-section {
	height: auto;
	background-color: var(--sky-blue);
	color: var(--powder-white);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 20px;
	border-bottom: solid 0.5rem var(--midnight-blue)
}

/* Faculty Section */
.faculty-section {
	background-color: orange;
	padding: 50px 40px;
	margin: 0 10vw;
}

.faculty-section h2 {
	text-align: center;
}

.faculty {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 40px 0;
}

.circle {
	width: 15vw;
	Aspect-ratio: 1/1;
	border-radius: 50%;
	margin: 0px 5px;
	background-color: yellow;
}

/* Footer */
.site-footer {
	display: flex;
	justify-content: space-between;
	padding: 20px 10vw;
	background-color: indianred;
	color: black;
}

.site-footer a {
	color: yellow;
	text-decoration: none;
	margin-left: 15px;
}

@media (max-width:800px){
}
