@charset "utf-8";
/* CSS Document */

/* Hero Section */
#hero {
	height: auto;
	min-height: 65vh;
	background-image: radial-gradient(circle at left bottom, rgba(0, 0, 0, 0), var(--gun-blue) 70%), url("img/hero-image.jpg");
	background-size: cover;
	background-position: top;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	padding: 2rem 2rem;
	border-radius: 1rem;
	box-shadow: 0 0.2rem 1rem 0.3rem var(--shadows-mode);
	color: var(--powder-white-const);
	text-align: center;
}

#hero-content {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

#hero-text {
	display: flex;
	flex-direction: column;
	padding: 2rem 1rem;
	width: 32vw;
	max-width: 60vw;
	text-align: end;
	border-radius: 0.3rem;
	gap: 1rem 0;
}

#hero-cta {
	background-color: var(--contrast);
	color: var(--powder-white);
	padding: 15px;
}

/* Content Section */
#content-section {
	display: flex;
	height: auto;
	outline: 0.2rem solid var(--powder-white-const);
	outline-offset: -2rem; 
	background-image: linear-gradient(var(--sky-blue), var(--midnight-blue-const));
	border-radius: 1rem;
}

.split-left, .split-right {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items:flex-end;
	justify-content: flex-start;
	color: var(--powder-white-const);
}
.participants {
	display: grid;
	grid-template-columns: 5rem 1fr;
	align-items: center;
	margin: 0.5rem;
}

.icon {
	width: 2.3rem;
}

.split-right {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}

.factbox {
	display: flex;
	flex-direction: column;
	background-color: var(--contrast);
	background-image: linear-gradient(rgba(245, 158, 11, 0.5), rgba(245, 158, 11, 0.5)), url("img/Logo_NoLine_White.svg");
	background-repeat: no-repeat;
	background-size: 15vw;
	background-position: bottom right;
	color: var(--midnight-blue-const);
	gap: 0.5rem;
	height: auto;
	border-radius: 1rem;
	align-items: center;
	justify-content: center;
	width: 33vw;
	padding: 3rem;
	outline: 0.2rem solid var(--powder-white-const);
	outline-offset: -1rem;
}


.fact-item {
	display: grid;
	grid-template-columns: 6rem 1fr;
	margin: 0.5rem 0;
	align-items: start;
}

#fact-button {
	color: var(--powder-white-const);
	width: 70%;
	margin-top: 1rem;
}



/* Partners Section*/
#partners-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--midnight-blue-mode);
}

#partner-button {
	color: var(--powder-white-mode);
	background-color: var(--midnight-blue-mode);
}

.partners {
	display: flex;
	justify-content: center;
	align-items: center; 
	margin-top: 2rem;
}

.logo-partner {
	height: auto;
	min-height: 4rem;
	max-height: 6rem;
	width: auto;
	min-width: 7rem;
	max-width: 11rem;
	margin: 0 1.5rem;
}

/* Quote Section */
#quote-section {
	height: auto;
	background-color: var(--sky-blue);
	color: var(--powder-white-const);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
	border-bottom: solid 0.5rem var(--midnight-blue-mode)
}

/*Faculty Section */
#faculty-section{
	padding: 50px 40px;
	margin: 0 10vw;
}
.faculty-section h2{
	text-align: center;
}
.faculty-section .badge a {
	text-align: center;
	
}


.card-list .card-item .card-link {
	user-select: none;
	display: block;
	background: transparent;
	padding: 18px;
	text-decoration: none;
	justify-content: center;
	
}
.card-list .card-item {
	list-style: none;
}
.card-list .card-link .card-image {
	width: 100%;
	object-fit: cover;
	border-radius: 50%;
	border-width: 50px;
	border-color: #FFFFFF;
	border:10px solid white;
	box-shadow: 0 2px 2px 1px gray;
}
.card-list .card-link .badge {
	color: var(--gun-blue);
	padding: 8px 16px;
	margin: 16px 0 18px;
	background: #FEFEFE;
	width: fit-content;
	border-radius: 50px;

}
.card-title {
	text-align: center;
}

.swiper {
  width: 1024px;
  height: 470px;
}
